<strong>Olá, {{ name }}</strong>
<p>O produto {{ product }} está disponível para retirada.</p>
<p>
  <strong>Cliente: </strong> {{ customer }} <br />
  <strong>Endereço: </strong> {{ street }}, {{ number }} {{ complement }} - {{ state }} <br />
  <strong>Produto: </strong> {{ product }}
</p>
